@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<div id="app"></div>

@section Scripts{
    <script src="~/app/js/chunk-vendors.js"></script>
    <script src="~/app/js/index.js"></script>
}