@page
@using MissionEditor2.Domain.Nodes
@using System.Reflection
@using MissionEditor2.Domain.Attributes
@using MissionEditor2.Services
@model IndexModel
@inject NodeService nodeService;
@{
    ViewData["Title"] = "Home page";
}
<div id="rete">
</div>

@section Scripts{
    <script asp-append-version="true">

        $(document).ready(async function() {
           
            var n1 = await components[0].createNode({ num: 2 });
            var n2 = await components[0].createNode({ num: 0 });
            var add = await components[1].createNode();

            n1.position = [80, 200];
            n2.position = [80, 400];
            add.position = [500, 240];
            
            editor.addNode(n1);
            editor.addNode(n2);
            editor.addNode(add);

            editor.connect(n1.outputs.get('num'), add.inputs.get('num'));
            editor.connect(n2.outputs.get('num'), add.inputs.get('num2')); 
        });

    </script>
}